/*
 * Scale some elements according to screen size
 * to adjust to smaller screens.
 */
@media only screen and (max-width: 800px) {
    .site-header {
        border-bottom: .5vw solid var(--tropical-orange);
    }
    .site-title {
        font-size: 6vw;
        letter-spacing: .625vw;
    }
    .site-title::before {
        background-size: 7.5vw;
        width: 9vw;
        height: 7.5vw;
        margin-right: 1.5vw;
        border-right: .4vw solid var(--tropical-orange);
    }
    .site-subtitle {
        font-size: 4.125vw;
        letter-spacing: .25vw;
    }
    .input-row {
        flex-basis: 100%;
    }
}
@media only screen and (min-width: 800px) {
    .site-header {
        border-bottom: 4px solid var(--tropical-orange);
    }
    .site-title {
        font-size: 48px;
        letter-spacing: 5px;
    }
    .site-title::before {
        background-size: 60px;
        width: 72px;
        height: 60px;
        margin-right: 12px;
        border-right: 3px solid var(--tropical-orange);
    }
    .site-subtitle {
        font-size: 33px;
        letter-spacing: 2px;
    }
    .fit-two > .input-row {
        flex-basis: 45%;
    }
    .fit-four > .input-row {
        flex-basis: 17.5%;
    }
    .separator {
        flex-basis: 10%;
    }
}